.content {
	background-color: #222222;
	height: 28px;
	width: 100%;
	border-bottom:  rgb(190, 190, 190);
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-flow: row;
	position: fixed;
	top: 44px;

}
.topcontext{
	height: 25px;
	width: 100%;
	
	position: fixed;
	top: 45px;
}
.bangdan{
	height: 100%;
	width: 33%;
	/*background-color: #222222;*/
	text-align: center;
	font-size: 12px;
	align-items: center;
	line-height: 28px;
	color: white;
}
.bangdanOne{
	height: 100%;
	width: 34%;
	/*background-color: #222222;*/
	text-align: center;
	font-size: 12px;
	align-items: center;
	line-height: 28px;
	color: white;
}
.bangdanTwo{
	height: 100%;
	width: 33%;
	/*background-color: b;*/
	text-align: center;
	font-size: 12px;
	align-items: center;
	line-height: 28px;
	color: white;
}

.head {
	height: 105px;
	width: 100%;
	background-color: #222222;
	display: flex;
	flex-flow: column;
}
#niu{
	margin-top: 70px;
}

.niuren {
	height: 40px;
	width: 40px;
	background-color: pink;
	margin-left: 10px;
	margin-top: 16px;
	border-radius: 25px;
}

.headone {
	display: flex;
	height: 70px;
	width: 400px;
	display: flex;
}

.headtwo {
	margin-top: 20px;
	margin-left: 7px;
	height: 50px;
	width: 150px;
}

.name {
	color: white;
	height: 23px;
	width: 100px;
	font-size: 15px;
	margin-top: -5px;
}

.jianjie {
	color: rgb(190, 190, 190);
	height: 17px;
	width: 150px;
	font-size: 10px;
	margin-top: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.guanzhu {
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	height: 20px;
	width: 70px;
	margin-top: 20px;
	margin-right: 10px;
	font-size: 12px;
}

.top {
	height: 74px;
	width: 100%;
	display: flex;
	flex-flow: row;
}

.bottom {
	height: 30px;
	width: 100%;
	/*background-color: red;*/
	display: flex;
	flex-flow: row;
}

.bottomLeft {
	height: 37px;
	width: 33%;
	/*	background-color: palegreen;*/
	margin-top: -10px;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.bottomRight {
	height: 37px;
	width: 33%;
	/*background-color: paleturquoise;*/
	margin-top: -10px;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.bottomMiddle {
	height: 37px;
	width: 34%;
	/*background-color: palegreen;*/
	margin-top: -10px;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.shouyiOne {
	height: 17px;
	width: 70px;
	/*	background-color: papayawhip;*/
	font-size: 12px;
	color: red;
	text-align: center;
}

.shouyitwo {
	height: 17px;
	width: 70px;
	/*	background-color: paleturquoise;*/
	color: rgb(190, 190, 190);
	font-size: 9px;
	text-align: center;
}